GOOSE_PROVIDER=
GOOSE_MODEL=
XAI_API_KEY=
XAI_HOST=
GEMINI_API_KEY=
DEEPSEEK_API_KEY=
GITHUB_TOKEN=
DIGITALOCEAN_TOKEN=
NEXUS_AUTH_TOKEN=
NEXUS_URL=
GOOSE_HOST=
GOOSE_PORT=
GOOSE_TLS=
PORT=
MCP_ALLOWED_HOSTS=
ALLOWED_SSH_HOSTS=
